:root {
  --row-length: 4;
  --col-length: 4;
}

body {
    background-color: whitesmoke;
}
#board {
    display: grid;
    grid-template-columns: repeat(8, 10vmin); 
    grid-template-rows: repeat(8, 10vmin);
    gap: 1vmin;
  }
#board > div {
   
    border: 0.1vmin solid grey;
  }

.mine {
 background-color: red;
}
