:root {
  --row-length: 4;
  --col-length: 4;
}

body {
    background-color: whitesmoke;
}
#board {
    display: grid;
    grid-template-columns: repeat(10, 10vmin); 
    grid-template-rows: repeat(10, 10vmin);
    gap: 1vmin;
  }
#board > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vmin solid grey;
  }

.mine {
 background-color: red;
}

.flag {
  background-color: green;
}

.covered {
  background-color: gray;
}

.shown {
  background-color: whitesmoke;
}